<div class="container">
  <div class="saved-outfit-card-row" >
      <span class="pl-2"><strong><%= outfit.name %></strong></span>

      <a class="icon arrow-collapse"  href="#collapse-<%= outfit.id %>" role="button" aria-expanded="false" aria-controls="collapseExample">
        <i class="fas fa-caret-right"></i>
      </a>
  </div>
    <div class="collapse saved-outfit-collapse" id="collapse-<%= outfit.id %>">
      <div class="card" style="padding-top: 0px;">
        <div class= "saved-outfit-card">
          <div class= "outfit-saved small">
            <div class="container" style="padding: 0 !important;">
              <div class="rating-star">
                <% outfit.rating.times do |i| %>
                  <span class="icon">★</span>
                <% end %>
              </div>
                <p class="review-small">
                  <%= outfit.review %>
                </p>
                <%= link_to "/outfits/#{outfit.id}/planned_outfits?date=#{Date.today}", method: :post do %>
                   <p class="outfit-plan-action"> <i class="fas fa-plus-circle"></i> Plan the outfit on the calendar</p>
                <% end %>

            </div>
          </div>
        </div>
      </div>
      <div class="outfit-grid justify-content-center">
        <% outfit.items.each do |t| %>

            <div class="clothes-card-saved-small">
              <%= cl_image_tag(t.photo, secure: true) %>
            </div>

        <% end %>
      </div>
    </div>
</div>
