
<div class='calendar-container'>
  <%= month_calendar attribute: :date, events: @planned_outfits do |date, planned_outfits| %>


    <% planned_outfit = current_user.planned_outfits.find_by(date: date) %>

    <% if planned_outfit %>
      <%= link_to date.day, planned_outfit_path(planned_outfit), method: :delete, class: 'btn btn-primary btn-lg qo-btn-primary btn-calendar' %>
    <% else %>
      <div class="qo-calendar-day" data-toggle="modal" data-target="#dayModal-<%= date %>">
        <%= date.day %>
      </div>
    <% end %>


    <%# planned_outfits.each do |planned_outfit| %>
       <!-- <div> -->
          <%#= planned_outfit.outfit.name %>
       <!-- </div> -->
     <%# end %>

    <div class="modal fade" id="dayModal-<%= date %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h3 class="modal-title" id="exampleModalLabel">Select an Outfit for <%= date %></h3>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <%= render 'po_form', date: date %>
          </div>
          <div class="modal-footer no-border">


            <button type="button" class="btn btn-custom"><%=link_to 'Wardrobe', '/items' %></button>
            <button type="button" class="btn btn-custom"><%=link_to 'Random', '/random' %></button>
            <button type="button" class="btn btn-custom" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

