

<h2>Welcome to Quick Outfit!</h2>
<br>
<h4>Hi Marc,</h4>
<h4>Today, it's a very sunny day 😎</h4>
<br>




<div id="qo-main-menu">

<%=link_to 'Your Wardrobe', '/items', class: 'btn btn-primary btn-lg btn-block qo-btn-primary shrink'%>
<br>




<%=link_to 'All your outfits', '/outfits', class: 'btn btn-primary btn-lg btn-block qo-btn-primary shrink'%>
<br>

<%=link_to 'Calendar', '/planned_outfits', class: 'btn btn-primary btn-lg btn-block qo-btn-primary shrink'%>
<br>

<%=link_to 'Pick a Random Outfit', '/random', class: 'btn btn-primary btn-lg btn-block qo-btn-primary shrink'%>
<br>



<% if current_user.admin %>
	<%=link_to 'Validation', '/validation', class: 'btn btn-primary btn-lg btn-block qo-btn-primary shrink'%>
<% end %>
</div>
