
<h1>Outfit to validate</h1>
<h1>Outfit to validate</h1>

<% @outfits.each do |outfit| %>
  <div class= "outfit-saved">
    <h2> <%= outfit.name %></h2>
    <%= render 'pages/outfit_review', outfit: outfit %>
  </div>
    <div class="slick-carousel">
      <% outfit.items.each do |t| %>
        <div>
          <div class="clothes-card-saved">
            <div class="clothes-card-photo-saved">
              <%= cl_image_tag(t.photo, secure: true) %>
            </div>
            <div class="clothes-card-footer-saved">
              <% if outfit.status == 'pending' %>
                <p> <%= t.style %>, <%= outfit.status %></p>
              <% else %>
                <p> <%= t.style %></p>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>

<% end %>
