<div class="slick-carousel">
      <% items.each do |item| %>
        <label for="item_<%= item.id %>">
          <div>
            <div class="clothes-card" data-color="<%= item.color %>">
              <div class="clothes-card-photo">
                <%= cl_image_tag(item.photo, secure: true) %>
              </div>
              <div class="clothes-card-footer">
                <p> <%= item.style %></p>
                <p> x <%= item.counter %></p>
                <%= link_to item_path(item), method: :delete, class: 'd-none delete-button' do %>
                  <i class="fas fa-times-circle"></i>
                <% end  %>
              </div>
            </div>
          </div>
        </label>
      <% end %>
  </div>
  <% items.each do |item| %>
    <input type="checkbox" name="item[ids][]" class="d-none clothes-card-checkbox" value="<%= item.id %>"id="item_<%= item.id %>" data-color="<%= item.color %>"></input>
  <% end %>
