<%=link_to 'Back', 'LINK#', class: 'btn btn-lg qo-btn-secondary'%>
<div class="container">
	<button type="button" class="btn btn-primary btn-lg qo-btn-primary" data-toggle="modal" data-target="#myModal">Add</button>

	<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">

          <button type="button" class="btn btn-lg qo-btn-secondary" data-dismiss="modal">&times;/>

					<h4 class="modal-title">Add an Item</h4>
        </div>
        <div class="modal-body">
          <%= render 'form', item: @item %>
        </div>
      </div>

    </div>
  </div>


<%= link_to 'back', '#', class: 'btn btn-lg qo-btn-secondary' %>


<h1>Wardrobe</h1>


<h2>Tops</h2>

<div class="slick-carousel">
  <% @tops.each do |t| %>
  <div>
    <div class="clothes-card">
        <div class="clothes-card-photo">
          <%= cl_image_tag(t.photo, secure: true) %>
        </div>
        <div class="clothes-card-footer">
          <p> <%= t.style %></p>
        </div>
      </div>
  </div>
  <% end %>
</div>


<h2>Bottoms</h2>
<div class="slick-carousel">
  <% @bottoms.each do |b| %>
    <div>
    <div class="clothes-card">
        <div class="clothes-card-photo">
          <%= cl_image_tag(b.photo, secure: true) %>
        </div>
        <div class="clothes-card-footer">
          <p> <%= b.style %></p>
        </div>
      </div>
    <div>
  <% end %>
</div>

<h2>Shoes</h2>
<div class="slick-carousel">
  <% @shoes.each do |s| %>
    <div>
      <div class="clothes-card">
        <div class="clothes-card-photo">
          <%= cl_image_tag(s.photo, secure: true) %>
        </div>
        <div class="clothes-card-footer">
          <p> <%= s.style %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>

<h2>Accessories</h2>
<div class="slick-carousel">
  <% @accessories.each do |a| %>
    <div>
      <div class="clothes-card">
        <div class="clothes-card-photo">
            <%= cl_image_tag(a.photo, secure: true) %>
          </div>
          <div class="clothes-card-footer">
            <p> <%= a.style %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>
