<h1>Wardrobe</h1>
<%= form_tag outfits_path, method: :post do %>
<!--   <div class="logo-teeshirt">
    <i class="fas fa-tshirt"></i>
  </div> -->
  <%= render 'items/carousel', items: @tops %>

  <%# image_tag "pants.png", class:'pants'%>
  <%= render 'items/carousel', items: @bottoms %>

<!--   <div class="logo-shoes">
    <i class="fas fa-shoe-prints"></i>
  </div> -->
  <%= render 'items/carousel', items: @shoes %>

  <div class= "items-save-button">
    <div class='btn btn-primary btn-lg qo-btn-primary save-btn' data-target="#add-outfit" data-toggle='modal'>save</div>
  </div>
  <div class="modal fade" id="add-outfit" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-add-item" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title">What's the name of the outfit ?</h3>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <%= text_field_tag :outfit_name, nil, class: "border"  %>
          <%= button_tag :save, class: 'btn btn-primary btn-lg qo-btn-primary'%>
        </div>
      </div>
    </div>
  </div>
<% end %>

<%= javascript_pack_tag("items_index") %>
